*{box-sizing:border-box;
}

body{
		margin:0;
		padding:0;
		
	
}

.navbar{
	display : flex;
	justify-content: space-between;
	align-items : center;
	background-color : white;
	color: black;
	

}
.brand-title{
		font-size:1.5rem;
		margin: .5rem;
}

.navbar-links ul{
	margin :0;
	padding:0;
	display : flex;
}
.navbar-links li{
	list-style:none;
}

.navbar-links li a{
	text-decoration:none;
	color:black;
	padding :1rem;
	display : block;
}

.navbar-links li:hover{
	background-color: #555;
}

p1{ font-size: 60px;
	color:white;
	vertical-align:bottom;
	padding:30px;

}
p2{
	 font-size: 20px;
	color:white;
	padding:5px 30px;
	
}
.p1{
  position: absolute;
  top: 278px;
  left: 16px;
   font-size: 70px;
   color:white;
	padding:5px 30px;
}


.p2{
  position: absolute;
  top: 388px;
  left: 16px;
   font-size: 20px;
   color:white;
	padding:5px 30px;
}

.p3{
	text-align:center;
	font-size:30px;
	padding:60px 20px;
}
.p4{
	text-align:center;
	font-size:18px;
	
}
.container1{ display:flex;
			border:;
			justify-content: space-between;
			align-items:center;
			margin:20px;
}

.box1{width :25%;
	height:300px;
	margin:10px;
	border:;
	text-align:center;
}

.box2{width :25%;
	height:300px;
	margin:10px;
	border:;
}

.box3{width :25%;
	height:300px;
	margin:10px;
	border:;
}

.box4{width :25%;
	height:300px;
	margin:10px;
	border:;
}


.container2{
			display:flex;
			border:;
			justify-content: space-between;
			align-items:center;
			margin:20px;
			color:light grey;
}

.set1{ border:;
	padding:15px;
	font-size:18px;
}


.set2{border:;

}

.contz{
	
	text-align:center;
}

.container7{  display:flex;
			border:;
			align-items:center;
			justify-content: space-between;
			margin:20px;
			color:;
	
	
	
}
.pop1{
	border:;
	width :25%;
	height:500px;
	margin:10px;
	
}

#p9{font-size:18px;
}

.address{ font-size:15px;
		font-weight:5px;
	
}

tr{text-align:left;
padding:50px;
}
				input[type="text"], input[type="email"],
				input[type="message-box"],input[type="text"]{width:100%;}
				
				
				button{
				background-color:black;
				color:white;
				
				}
				
table{
	
	padding-bottom:;
	
}